{% extends 'base.html' %}


{% block content %}
    <main class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h1>About Osusu</h1>
                <p>Welcome to Osusu Application, your reliable platform for managing rotating savings and credit associations (ROSCA), commonly known as Osusu. Our application aims to provide an efficient and transparent way for individuals and groups to manage their savings and financial activities.</p>
                <h2>Our Mission</h2>
                <p>Our mission is to empower communities by providing a simple and secure platform for managing collective savings. We believe in the power of community savings and the positive impact it can have on financial stability and growth.</p>
                <h2>Features</h2>
                <ul>
                    <li>User-friendly interface for creating and managing savings groups</li>
                    <li>Secure user registration and authentication</li>
                    <li>Transparent tracking of contributions and payouts</li>
                    <li>Comprehensive dashboard for group management</li>
                    <li>Feedback and support system for users</li>
                </ul>
                <h2>Our Team</h2>
                <p>Osusu Application was developed by a dedicated team of financial experts and software engineers. Our team is passionate about providing innovative solutions to enhance financial inclusion and empower communities through collective savings.</p>
                <h2>Contact Us</h2>
                <p>If you have any questions or need support, please feel free to contact support at <a href="mailto:support@osusuapp.com">support@osusuapp.com</a>.</p>
            </div>
        </div>
    </main>

    {% endblock %}