<!-- navigation.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Osusu Contribution</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.create_group') }}">Create Group</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.group_list') }}">Group List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.schedule') }}">Contribution Schedule</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.reports') }}">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.dashboard') }}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.submit_feedback') }}">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.profile') }}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.list_users') }}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.admin_dashboard') }}">Admin Dashboard</a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.logout') }}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.register') }}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
